// Flexbox Implementation
// ----------------------
.megamenu__group {
  @include breakpoint($breakpoint, min-width) {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
}

.megamenu__group .megamenu__item {
  @include breakpoint($breakpoint, min-width) {

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    align-self: stretch;
  }
}