.megamenu__list,
.megamenu__group {
  margin: 0;
  padding: 0;
}

.megamenu__list,
.megamenu__group {
  list-style: none;
}

.megamenu__handler {
  display: none;
}

p {
  margin-top: 0;
}

.megamenu__item:hover > a,
.megamenu__item:focus > a,
.megamenu__item:active > a,
.megamenu__item.has-focus > a,
.megamenu__item:hover > h2 a,
.megamenu__item:focus > h2 a,
.megamenu__item:active > h2 a,
.megamenu__item.has-focus > h2 a,
.megamenu__item:hover > h3 a,
.megamenu__item:focus > h3 a,
.megamenu__item:active > h3 a,
.megamenu__item.has-focus > h3 a {
  background-color: #158db8;
  color: #cccccc;
}

.megamenu > .megamenu__list > .megamenu__item:hover > a,
.megamenu > .megamenu__list > .megamenu__item:focus > a,
.megamenu > .megamenu__list > .megamenu__item:active > a,
.megamenu > .megamenu__list > .megamenu__item.has-focus > a,
.megamenu > .megamenu__list > .megamenu__item:hover > h2 a,
.megamenu > .megamenu__list > .megamenu__item:focus > h2 a,
.megamenu > .megamenu__list > .megamenu__item:active > h2 a,
.megamenu > .megamenu__list > .megamenu__item.has-focus > h2 a,
.megamenu > .megamenu__list > .megamenu__item:hover > h3 a,
.megamenu > .megamenu__list > .megamenu__item:focus > h3 a,
.megamenu > .megamenu__list > .megamenu__item:active > h3 a,
.megamenu > .megamenu__list > .megamenu__item.has-focus > h3 a {
  background-color: #444444;
}

.device .megamenu__item:hover > a,
.device .megamenu__item:focus > a,
.device .megamenu__item:active > a,
.device .megamenu__item.has-focus > a,
.device .megamenu__item:hover > h2 a,
.device .megamenu__item:focus > h2 a,
.device .megamenu__item:active > h2 a,
.device .megamenu__item.has-focus > h2 a,
.device .megamenu__item:hover > h3 a,
.device .megamenu__item:focus > h3 a,
.device .megamenu__item:active > h3 a,
.device .megamenu__item.has-focus > h3 a {
  background-color: transparent;
  color: #158db8;
}

.megamenu,
.megamenu__label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.megamenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -44px;
  padding-left: 44px;
  width: 100%;
  background-color: #333333;
  -webkit-box-shadow: 2px 0 2px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.33);
  color: #cccccc;
  font-weight: 200;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.megamenu a {
  color: #158db8;
  text-decoration: none;
  line-height: 44px;
  display: block;
}

.megamenu p {
  font-size: 0.83em;
  line-height: 1.6;
}

.megamenu p {
  margin: 0;
}

.megamenu h2,
.megamenu h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 44px;
}

.megamenu h2 a,
.megamenu h3 a {
  font-weight: 200;
  font-size: 1em;
  line-height: 44px;
}

.megamenu hr {
  border: none;
  border-top: 1px solid #444444;
}

.megamenu__list .megamenu__item,
.megamenu__grou .megamenu__item {
  padding: 0 12px;
}

.megamenu__label {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  position: fixed;
  z-index: 100;
  display: block;
  width: 44px;
  height: 44px;
  background-color: #333333;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.megamenu__label .lines,
.megamenu__label .lines:before,
.megamenu__label .lines:after {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #cccccc;
}

.megamenu__label .lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  -webkit-transition: background 0;
  transition: background 0;
}

.megamenu__label .lines:before,
.megamenu__label .lines:after {
  position: absolute;
  right: 0;
  left: 0;
  content: '';
  -webkit-transition: top 0, -webkit-transform 0;
  transition: top 0, transform 0;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.megamenu__label .lines:before {
  top: -6px;
}

.megamenu__label .lines:after {
  top: 6px;
}

.megamenu__handler:checked ~ .megamenu {
  left: 0;
}

.megamenu__handler:checked ~ .megamenu__label {
  position: fixed;
  top: 0;
  left: 100%;
  margin-left: -44px;
}

.megamenu__handler:checked ~ .megamenu__label .lines {
  background: transparent;
}

.megamenu__handler:checked ~ .megamenu__label .lines:before,
.megamenu__handler:checked ~ .megamenu__label .lines:after {
  top: 0;
}

.megamenu__handler:checked ~ .megamenu__label .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.megamenu__handler:checked ~ .megamenu__label .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

@media (max-width: 768px) {
  .disable-scroll {
    position: fixed;
  }
}

@media (min-width: 769px) {
  .megamenu__label {
    display: none;
  }

  .megamenu {
    left: 0;
    position: relative;
    margin-left: 0;
    padding-left: 0;
    overflow: visible;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
  }

  .megamenu a {
    font-size: 1em;
    line-height: 1.4;
    padding: 0 12px;
  }

  .megamenu > .megamenu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .megamenu > .megamenu__list > .megamenu__item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    text-align: center;
  }

  .megamenu__panel {
    position: absolute;
    left: -999em;
    background-color: #444444;
    text-align: left;
    display: block;
    width: 100%;
    padding: 24px;
    overflow: hidden;
    top: 100%;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.33);
  }

  .megamenu__group {
    display: block;
    list-style: none;
    padding: 0;
    margin-top: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .megamenu__group .megamenu__item {
    padding: 0;
    -webkit-box-sizing: 0;
    -moz-box-sizing: 0;
    box-sizing: 0;
    margin: 0 6px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0;
    flex-shrink: 0;
    -webkit-flex-basis: 200px;
    -ms-flex: 0 1 200px;
    flex-basis: 200px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  .megamenu__group .megamenu__group {
    display: block;
  }

  .megamenu__group .megamenu__group .megamenu__item {
    display: block;
    width: 100%;
  }

  .megamenu__item:hover .megamenu__panel,
  .megamenu__item:focus .megamenu__panel,
  .megamenu__item:active .megamenu__panel,
  .megamenu__item.has-focus .megamenu__panel {
    left: 0;
  }
}

/*# sourceMappingURL=megamenu.css.map */