@import "megamenu__functions";
@import "megamenu__variables";
@import "megamenu__extends";
@import "megamenu__mixins";
@import "megamenu__helpers";




p {
  margin-top: 0;
}

.megamenu__item {
  &:hover,
  &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
  &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
  &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
    background-color: $color--highlight;
    color: $color--light;
    cursor: pointer;
  }
}

.megamenu > .megamenu__list > .megamenu__item {
  &:hover,
  &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
  &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
  &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
    background-color: $color--medium;
  }
}

.device {
  .megamenu__item {
    &:hover,
    &:hover > a,    &:focus > a,    &:active > a,    &.has-focus > a,
    &:hover > h2 a, &:focus > h2 a, &:active > h2 a, &.has-focus > h2 a,
    &:hover > h3 a, &:focus > h3 a, &:active > h3 a, &.has-focus > h3 a {
      background-color: transparent;
      color: $color--highlight;
    }
  }
}

// !Small Screen
// -------------

.megamenu,
.megamenu__label {
  transition: $transitionSpeed;
}

.megamenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$width--menu;
  box-sizing: border-box;
  margin-left: -$width--touch-target;
  padding-left: $width--touch-target;
  width: 100%;
  background-color: $color--dark;
  box-shadow: $shadow--left;
  color: $color--light;
  font-weight: 200;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // enable intertia scrolling

  @include breakpoint($breakpoint, min-width) {
    left: 0;
    position: relative;
    margin-left: 0;
    padding-left: 0;
    overflow: visible;
    box-shadow: $shadow--top;
  }
}

.megamenu a {
  color: $color--highlight;
  text-decoration: none;
  line-height: $height--touch-target;
  display: block;

  @include breakpoint($breakpoint, min-width) {
    @include font-size($size--h4, 1.4);
    padding: 0 $gutter--narrow;
  }
}


.megamenu p {
  margin: 0;
  @include font-size($size--h5);
}

.megamenu h2,
.megamenu h3 {
  margin: 0;
  padding: 0;
  @include font-size($size--base, $height--touch-target);
}

.megamenu h2 a,
.megamenu h3 a {
  font-weight: 200;
  @include font-size($size--base, $height--touch-target);
}

.megamenu hr {
  border: none;
  border-top: 1px solid $color--medium;
}

.megamenu__list,
.megamenu__group {
  @extend %list-style-none;
}

.megamenu__list .megamenu__item,
.megamenu__group .megamenu__item {
  padding: 0 $gutter--narrow;
}

// first level
// first list
// list
.megamenu >
.megamenu__list {
  border-collapse: collapse; // important
//   display: table; // makes it a table
//   table-layout: fixed; // makes width absolute
}

// first level
// first list item
// list -> item
.megamenu >
.megamenu__list >
.megamenu__item {
  @include breakpoint($breakpoint, min-width) {
    display: table-cell; // important
    vertical-align: middle; // important
    width: 1%;
  }

}

.megamenu >
.megamenu__list >
.megamenu__item >
h2 a {
  line-height: 1;
  padding: $gutter--skinny inherit;
}

@import "megamenu__external-elements";
@import "megamenu__actions";
@import "megamenu__dropdown";

html.flexbox {
  // use modernizr to detect if flexbox exists
  // if so use this
  @import "megamenu__flexbox";
}

html.no-flexbox {
  // if modernizr does not detect flexbox support
  // remove if not using modernizr
  @import "megamenu__no-flexbox";
}