/*! ------------------------------------------------------------------------ !*\
    Created By: Gregory Daynes
\*! ------------------------------------------------------------------------ !*/


// !Imports
// --------

// Tools
@import "_utilities";
@import "_functions";
@import "_variables";
@import "_extends";
@import "_mixins";

// Styles
@import "base";





// !Model
// ------
.responsive-menu {}
.responsive-menu__list {}
.responsive-menu__list__item {}
.responsive-menu__list__item__link {}
.responsive-menu__list__item--parent {}
.responsive-menu__list__item--parent
  .responsive-menu__list__item__link {}
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list__item__link {}
.responsive-menu__list__item--active {}
.responsive-menu__list__item--active
  .responsive-menu__list__item__link {}


$primary: #f39c12;
$primaryHighlight: #f1c40f;
$secondary: #7f8c8d;
$secondaryHighlight: #95a5a6;

$translucent: rgba(255,255,255,0.3);

$neutral: #7f8c8d;
$lightNeutral: lighten(#7f8c8d, 10%);
$darkNeutral: darken(#7f8c8d, 10%);

$black: #000;
$white: #fff;

$gutter:       24px;
$narrowGutter: 12px;
$skinnyGutter: 6px;


// !Small Screen
// -------------

// root
.responsive-menu {
  background-color: $secondary;
}

// remove list styling
.responsive-menu__list {
  @extend %list-style-none;
}

// list > active item
.responsive-menu__list__item--active
  .responsive-menu__list__item__link {
    background-color: $primary;
}

// list > active item :hover
// list > active item :focus
.responsive-menu__list__item--active
  .responsive-menu__list__item__link:hover,
.responsive-menu__list__item--active
  .responsive-menu__list__item__link:focus {
    background-color: $primary;
}

// list > item
.responsive-menu__list__item__link {
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  color: $white;
  background-color: $secondary;
  padding: $narrowGutter;
  transition: padding $transitionSpeed ease-in-out;
}

// list > item :hover
.responsive-menu__list__item__link:hover {
  background-color: $secondaryHighlight;
}

// list > item :focus
.responsive-menu__list__item__link:focus {
  outline: none;
}

// list > list
.responsive-menu__list
  .responsive-menu__list {
    background-color: $secondary;
}

// list > list > item :before
.responsive-menu__list
  .responsive-menu__list
    .responsive-menu__list__item__link:before {
      content: '';
      margin-right: $gutter;
}

// list > list > list > item :before
.responsive-menu__list
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item__link:before {
        margin-left: $gutter;
}

// !Small Screen Positioning
// -------------------------

// list > parent item > list
// list > parent item expanded > list > list
.responsive-menu__list__item--parent
  .responsive-menu__list,
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list
    .responsive-menu__list {
      height: 0;
      overflow: hidden;
}

// list > parent item expanded > list
// list > parent item expanded > list > list
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list,
.responsive-menu__list__item--parent:hover
  .responsive-menu__list,
.responsive-menu__list
  .responsive-menu__list__item--parent-expanded
    .responsive-menu__list,
.responsive-menu__list
  .responsive-menu__list__item--parent:hover
    .responsive-menu__list {
      height: auto;
}


// !Medium -> Large Screen
// -----------------------
// full size navigation, tablet and large devices
// dropdown support using hover, requires media-queries
@include breakpoint($bp4, min-width) {

  // root
  .responsive-menu {
    background-color: $translucent;
  }

  // list > item
  .responsive-menu__list__item {
    display: table-cell;
    width: 1%;
    text-align: center;
    vertical-align: middle;
  }


  // list > item
  .responsive-menu__list__item__link {
    color: $black;
    padding: 0 $narrowGutter;
    background-color: transparent;
  }

  // list > item :hover
  // list > item :hover > link
  // list > item :focus
  // list > item :expanded
  .responsive-menu__list__item:hover
    > .responsive-menu__list__item__link,
  .responsive-menu__list__item__link:focus  {
    background-color: $secondaryHighlight;
  }

  // list > list
  .responsive-menu__list
    .responsive-menu__list {
      background-color: $secondaryHighlight;
  }



  // list > list > item :before
  // list > list > list > item :before
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item__link:before,
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list
        .responsive-menu__list__item__link:before {
        content: '';
        margin-right: 0;
        margin-left: 0;
  }

  // list > list > item
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item {
        display: block;
        width: 100%;
        text-align: left;
  }


  // !Medium -> Large Screen Positioning
  // -----------------------------------
  .responsive-menu__list__item--parent {
    position:relative;
  }

  // list > parent item > list
  .responsive-menu__list__item--parent
    .responsive-menu__list {
      height: auto;
      overflow: visible;
      position: absolute;
      left: -999em;
      z-index: 2;
  }

  // list > parent item expanded > list
  // list > item :hover > list
  .responsive-menu__list__item--parent-expanded >
    .responsive-menu__list,
  .responsive-menu__list__item:hover >
    .responsive-menu__list {
      top: 100%;
      right: 0;
      left: 0;
      padding-left: 0;
      width: 100%;
  }

  // list > parent item expanded > list > parent item expanded > list
  // list > item :hover > list > item :hover > list
  .responsive-menu__list__item--parent-expanded
    .responsive-menu__list__item--parent-expanded >
      .responsive-menu__list,
  .responsive-menu__list__item:hover
    .responsive-menu__list__item:hover >
      .responsive-menu__list {
        left: 100%;
        top: 0;
  }

  .responsive-menu__list__item:last-of-type
    .responsive-menu__list__item:hover
      .responsive-menu__list,
  .responsive-menu__list__item:last-of-type
    .responsive-menu__list__item:focus
      .responsive-menu__list {
        right: 100%;
        left: inherit
  }


} // end full-size media query




//
// !Responsive Menu - Utilities
// ----------------------------
.responsive-menu__handler {
  display: none;
  }
.responsive-menu__label {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 100;
  }
  .responsive-menu__label:hover {
    cursor: pointer;
    }

@include breakpoint($bp4, max-width) {

.responsive-menu {
  position: fixed;
  top: 0;
  left: -$navMenuWidth;
  bottom: 0;
  width: $navMenuWidth;
  z-index: 3;
  overflow: scroll;
  }



.responsive-menu,
.responsive-menu__label {
  transition: left $transitionSpeed ease-in-out;
  }

.responsive-menu__label {
  display: inline;
  }

.responsive-menu__handler:checked ~ .responsive-menu {
  left: 0;
  }

.responsive-menu__handler:checked ~ .responsive-menu__label {
  left: $navMenuWidth;
  }

// end breakpoint
}







//
// DECORATIONS
.responsive-menu__label {
  user-select: none;
  background-color: $secondary;

  @include proportional(10%);
}

.lines {
  //create middle line
  @include line;

  // centering
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    transform-origin: 50% 50%;
    transition: top 0, transform 0;
  }
  &:before { top: -6px; }
  &:after { top:   6px; }
}

.responsive-menu__handler:checked ~ .responsive-menu__label .lines {
  /*hide the middle line*/
  background: transparent;

  /*overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    top: 0;
  }

  // rotate the lines to form the x shape
  &:before{
    transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    transform: rotate3d(0,0,1,-45deg);
  }
}





html, body { background-color: #ddd; }
.responsive-menu { left: 0 }
.responsive-menu__label { left: $navMenuWidth; }
.responsive-menu__list__item--parent .responsive-menu__list,
.responsive-menu__list__item--parent-expanded .responsive-menu__list .responsive-menu__list { height: auto; }
.responsive-menu__list__item:last-of-type .responsive-menu__list__item:hover .responsive-menu__list { right: 100%; left: inherit}
.responsive-menu__list__item:last-of-type .responsive-menu__list__item:focus .responsive-menu__list { right: 100%; left: inherit}