// !Functions
// ----------
@function em($px){
  @return ($px/16px)+0em;
}

// !Variables
// ----------
$breakpoint: em(768px);

$horizontal-gutter: 24px!default;
$vertical-gutter:   24px!default;

$small: 0.667em;
$h6   : 0.75em;
$h5   : 0.83em;
$base : 1em;
$h4   : 1em;
$h3   : 1.17em;
$h2   : 1.75em;
$h1   : 2em;

$navMenuWidth: 276px; // button target should be 44px x 44px for iphone - 320 - 44 = 276px
$transitionSpeed: .3s;

$primary: #f39c12; // orange
$primaryHighlight: #f1c40f; // yellow
$secondary: #7f8c8d; // greenish grey
$secondaryHighlight: #95a5a6; // lighter grey
$translucent: rgba(255,255,255,0.3); // transparent white

$black: #000;
$white: #fff;

$gutter:       24px;
$narrowGutter: 12px;
$skinnyGutter: 6px;

$primary: red;
$primary--hover: lighten($primary, 20%);
$secondary: $primary--hover;
$secondary--hover: orange;
$tertiary: $secondary--hover;
$tertiary--hover: yellow;

$primary--active: purple;
$primary--active--hover: lighten($primary--active, 20%);
$secondary--active: green;
$secondary--active--hover: lighten($secondary--active, 20%);
$tertiary--active: blue;
$tertiary--active--hover: lighten($tertiary--active, 20%);




// !Extends
// --------
%zero {
  margin: 0;
  padding: 0;
}

%list-style-none {
  @extend %zero;
  list-style: none;
}

// !mixins
// -------
@mixin breakpoint($unit, $query: min, $target: "")
{
	@if $target != "" {
		@media #{$target} and (#{$query}: #{$unit}) {
			@content;
		}
	}
	@else {
		@media (#{$query}: #{$unit}) {
			@content;
		}
	}
}

@mixin image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin line($background-color: $white, $width: 100%, $height: 3px) {
  background-color: $background-color;
  display: inline-block;
  width: $width;
  height: $height;
}


/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


// !Model
// ------
.responsive-menu {}
.responsive-menu__list {}
.responsive-menu__list__item {}
.responsive-menu__list__item__link {}
.responsive-menu__list__item--parent {}
.responsive-menu__list__item--parent
  .responsive-menu__list__item__link {}
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list__item__link {}
.responsive-menu__list__item--active {}
.responsive-menu__list__item--active
  .responsive-menu__list__item__link {}







// !Small Screen
// -------------


// remove list styling
.responsive-menu__list {
  @extend %list-style-none;
}

// top level link
// ul > li > a
.responsive-menu__list
  .responsive-menu__list__item
    .responsive-menu__list__item__link {
      text-decoration: none;
      text-transform: capitalize;
      display: block;
      padding: $narrowGutter;
      transition: padding $transitionSpeed ease-in-out;
      outline: none;
}

// list > list > item :before
.responsive-menu__list
  .responsive-menu__list
    .responsive-menu__list__item__link:before {
      content: '';
      margin-right: $gutter;
}

// list > list > list > item :before
.responsive-menu__list
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item__link:before {
        margin-left: $gutter;
}



.responsive-menu__list
  .responsive-menu__list__item
    .responsive-menu__list__item__link:focus,
.responsive-menu__list
  .responsive-menu__list__item
    .responsive-menu__list__item__link:hover {
      text-decoration: underline;
}











// !Small Screen Positioning
// -------------------------

// list > parent item > list
// list > parent item expanded > list > list
.responsive-menu__list__item--parent
  .responsive-menu__list,
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list
    .responsive-menu__list {
      height: 0;
      overflow: hidden;
}

// list > parent item expanded > list
// list > parent item expanded > list > list
.responsive-menu__list__item--parent-expanded
  .responsive-menu__list,
.responsive-menu__list__item--parent:hover
  .responsive-menu__list,
.responsive-menu__list
  .responsive-menu__list__item--parent-expanded
    .responsive-menu__list,
.responsive-menu__list
  .responsive-menu__list__item--parent:hover
    .responsive-menu__list {
      height: auto;
}


// !Medium -> Large Screen
// -----------------------
// full size navigation, tablet and large devices
// dropdown support using hover, requires media-queries
@include breakpoint($breakpoint, min-width) {

  // root
  .responsive-menu {
    background-color: $translucent;
  }

  // list > item
  .responsive-menu__list__item {
    display: table-cell;
    width: 1%;
    text-align: center;
    vertical-align: middle;
  }


  // list > item
  .responsive-menu__list__item__link {
    color: $black;
    padding: 0 $narrowGutter;
  }




  // list > list > item :before
  // list > list > list > item :before
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item__link:before,
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list
        .responsive-menu__list__item__link:before {
        content: '';
        margin-right: 0;
        margin-left: 0;
  }

  // list > list > item
  .responsive-menu__list
    .responsive-menu__list
      .responsive-menu__list__item {
        display: block;
        width: 100%;
        text-align: left;
  }


  // !Medium -> Large Screen Positioning
  // -----------------------------------
  .responsive-menu__list__item--parent {
    position:relative;
  }

  // list > parent item > list
  .responsive-menu__list__item--parent
    .responsive-menu__list {
      height: auto;
      overflow: visible;
      position: absolute;
      left: -999em;
      z-index: 2;
  }

  // list > parent item expanded > list
  // list > item :hover > list
  .responsive-menu__list__item--parent-expanded >
    .responsive-menu__list,
  .responsive-menu__list__item:hover >
    .responsive-menu__list {
      top: 100%;
      right: 0;
      left: 0;
      padding-left: 0;
      width: 100%;
  }

  // list > parent item expanded > list > parent item expanded > list
  // list > item :hover > list > item :hover > list
  .responsive-menu__list__item--parent-expanded
    .responsive-menu__list__item--parent-expanded >
      .responsive-menu__list,
  .responsive-menu__list__item:hover
    .responsive-menu__list__item:hover >
      .responsive-menu__list {
        left: 100%;
        top: 0;
  }

  .responsive-menu__list__item:last-of-type
    .responsive-menu__list__item:hover
      .responsive-menu__list,
  .responsive-menu__list__item:last-of-type
    .responsive-menu__list__item:focus
      .responsive-menu__list {
        right: 100%;
        left: inherit
  }


} // end full-size media query




//
// !Responsive Menu - Utilities
// ----------------------------
.responsive-menu__handler {
  display: none;
  }
.responsive-menu__label {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 100;
  }
  .responsive-menu__label:hover {
    cursor: pointer;
    }

@include breakpoint($breakpoint, max-width) {

.responsive-menu {
  position: fixed;
  top: 0;
  left: -$navMenuWidth;
  bottom: 0;
  width: $navMenuWidth;
  z-index: 3;
  overflow: scroll;
  }



.responsive-menu,
.responsive-menu__label {
  transition: left $transitionSpeed ease-in-out;
  }

.responsive-menu__label {
  display: inline;
  }

.responsive-menu__handler:checked ~ .responsive-menu {
  left: 0;
  }

.responsive-menu__handler:checked ~ .responsive-menu__label {
  left: $navMenuWidth;
  }

// end breakpoint
}







//
// DECORATIONS
.responsive-menu__label {
  user-select: none;
  width: 44px;
  height: 44px;
  @include image-replacement;
}

.lines {
  //create middle line
  @include line($black);

  // centering
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line($black);
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    transform-origin: 50% 50%;
    transition: top 0, transform 0;
  }
  &:before { top: -6px; }
  &:after { top:   6px; }
}

.responsive-menu__handler:checked ~ .responsive-menu__label .lines {
  /*hide the middle line*/
  background: transparent;

  /*overlay the lines by setting both their top values to 0*/
  &:before, &:after{
    top: 0;
  }

  // rotate the lines to form the x shape
  &:before{
    transform: rotate3d(0,0,1,45deg);
  }
  &:after{
    transform: rotate3d(0,0,1,-45deg);
  }
}



/* .responsive-menu { left: 0 } */
/* .responsive-menu__label { left: $navMenuWidth; } */
/* .responsive-menu__list__item--parent .responsive-menu__list, .responsive-menu__list__item--parent-expanded .responsive-menu__list .responsive-menu__list { height: auto; } */
/* .responsive-menu__list__item:last-of-type .responsive-menu__list__item:hover .responsive-menu__list { right: 100%; left: inherit} */
/* .responsive-menu__list__item:last-of-type .responsive-menu__list__item:focus .responsive-menu__list { right: 100%; left: inherit} */

