// !Functions
// ----------
@function em($px){
  @return ($px/16px)+0em;
}

// !Variables
// ----------
$breakpoint: 960px;
$transitionSpeed: .3s;

// Shadows
$shadow__vertical: 2px;
$shadow__horizontal: 2px;
$shadow__feather: 2px;
$shadow__color: rgba(0,0,0,0.33);
$shadow__spread: 2px;

$shadow--top: 0 $shadow__vertical $shadow__feather $shadow__color;
$shadow--top-left: $shadow__horizontal $shadow__vertical $shadow__feather $shadow__color;
$shawow--top-right: ($shadow__horizontal * -1) $shadow__vertical $shadow__feather $shadow__color;
$shadow--left: $shadow__horizontal 0 $shadow__feather $shadow__color;
$shadow--right: ($shadow__horizontal * -1) 0 $shadow__feather $shadow__color;

// Colors 2.0
$color--dark: #333;
$color--medium: #444;
$color--light: #ccc;
$color--highlight: #158db8;
$color--translucent: rgba(0,0,0,0.3);

// Sizes
$size--small: 0.667em;
$size--h6   : 0.75em;
$size--h5   : 0.83em;
$size--base : 1em;
$size--h4   : 1em;
$size--h3   : 1.17em;
$size--h2   : 1.75em;
$size--h1   : 2em;

// Gutter
$gutter:       24px;
$gutter--narrow: 12px;
$gutter--skinny: 6px;

// Dimensions
$width--touch-target: 44px;
$width--menu: 100%;
$height--touch-target: 44px;


// !Extends
// --------
%zero {
  margin: 0;
  padding: 0;
}

%list-style-none {
  @extend %zero;
  list-style: none;
}

// !mixins
// -------
@mixin breakpoint($unit, $query: min, $target: "")
{
	@if $target != "" {
		@media #{$target} and (#{$query}: #{$unit}) {
			@content;
		}
	}
	@else {
		@media (#{$query}: #{$unit}) {
			@content;
		}
	}
}

@mixin image-replacement {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin font-size($font-size: 16, $line-height: 1.6) {
  font-size: #{$font-size};
  @if $line-height {
    line-height: $line-height;
  }

}


/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a{background:transparent;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{margin:.67em 0;font-size:$size--h1;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-size:1em;font-family:monospace,serif;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver;}legend{padding:0;border:0;}button,input,select,textarea{margin:0;font-size:100%;font-family:inherit;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}textarea{overflow:auto;vertical-align:top;}table{border-spacing:0;border-collapse:collapse;}p{margin-top:0;}



// !Model
// ------
.responsive-menu {}
.responsive-menu__list {}
.responsive-menu__item {}
.responsive-menu__item a {}
.responsive-menu__item a em {}

// States
.is-parent {}
:hover, :focus, :active {}

// !Style Guide
// ------------
.single-line-css { /* property */ }

.single-line-css,
.with-mulitple-selectors {
  /* property */
}

.multi-line-css {
  /* properties */
}

.multi-line-css,
.multiple-selectors {
  /* properties */
}



// !General Styles
// ---------------

// remove list styling
.responsive-menu__list {
  @extend %list-style-none;
}

// link styling
.responsive-menu__item a {
  display: block;
  padding: 0 $gutter--narrow;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 200;
}

.responsive-menu__handler  {
  display: none;
}







// !Small Screen
// -------------

// button should be 44px wide
// offset menu should be 100% of screen width, minus $width--touch-target
.responsive-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$width--menu;
  z-index: 3;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // enable intertia scrolling
  box-sizing: border-box;
  margin-left: $width--touch-target * -1;
  padding: 0 $gutter--narrow 0 ($gutter--narrow + $width--touch-target);
  width: 100%;
  background-color: $color--dark;
  box-shadow: $shadow--left;
}


// !Menu Item
// ----------
.responsive-menu__item {
  a {
    @include font-size($size--base, $height--touch-target);
    color: $color--light;
  }

  a em { // small descriptive text in item
    display: block;
    @include font-size($size--h6);
    margin-top: -1em;
    color: $color--medium;
    font-style: normal;
  }

  &.is-parent > a { // First item of a parent
    border-top: 1px solid $color--medium;
    margin-top: $gutter--narrow;
    text-decoration: underline;
    color: $color--medium;

    &:hover,
    &:focus,
    &:active {
      color: $color--light;
    }
  }

  a:hover,
  a:focus,
  a.active {
    background-color: $color--highlight;
  }
}

.device {
  .responsive-menu__item {
    a:hover,
    a:active,
    a:focus {
      background-color: transparent;
    }
  }
}

.responsive-menu__label {
  @include image-replacement;
  display: block;
  width: $width--touch-target;
  height: $height--touch-target;
  user-select: none;
  position: fixed;
  z-index: 100;
  text-align: center;
  cursor: pointer;
  background-color: $color--dark;
  box-shadow: $shadow--top-left;

  .lines,
  .lines:before,
  .lines:after {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $color--light;
  }

  .lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    transition: background 0;

    &:before,
    &:after {
      position: absolute;
      right: 0;
      left: 0;
      content: '';
      transition: top 0, transform 0;
      transform-origin: 50% 50%;
    }

    &:before { top: -6px; }

    &:after { top:   6px; }
  }
}

// open menu state
.responsive-menu__handler:checked {

  & ~ .responsive-menu { left: 0; }

  & ~ .responsive-menu__label {
    position: fixed;
    top: 0;
    left: 100%;
    margin-left: -44px;
  }

  & ~ .responsive-menu__label .lines {
    //hide the middle line
    background: transparent;

    //overlay the lines by setting both their top values to 0
    &:before,
    &:after{
      top: 0;
    }

    // rotate the lines to form the x shape
    &:before{ transform: rotate3d(0,0,1,45deg); }

    &:after{ transform: rotate3d(0,0,1,-45deg); }
  }
}

@include breakpoint(em($breakpoint - 1px), max-width) {
  .disable-scroll {
    position: fixed;
  }
}




// !Medium -> Large Screen
// -----------------------
// full size navigation, tablet and large devices
// dropdown support using hover, requires media-queries
@include breakpoint(em($breakpoint), min-width) {

  .responsive-menu__label {
    display: none;
  }

  .responsive-menu {
    position: inherit;
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  .responsive-menu__item {
    display: table-cell;
    width: 1%;
    vertical-align: top;
    text-align: center;


    a {
      display: block;
      margin-top: 0;
      padding: 0;
      background-color: $color--dark;
      @include font-size($size--base, 44px);
    }

    a em {
      display: none;
    }

    &.is-parent {
      position:relative;
    }

    &.is-parent a {
      border-top: none;
      text-decoration: none;
      color: $color--light;
      margin-top: 0;
      padding: 0;
    }
  }

  .responsive-menu__item.is-parent
    .responsive-menu__list {
      position: absolute;
      left: -999em;
      z-index: 2;
      overflow: visible;
      height: auto;
      width: 100%
  }

  .responsive-menu__item
    .responsive-menu__item {
      display: block;
      width: 100%;
      text-align: left;

      a {
        padding-left: $gutter;
      }
  }

  .responsive-menu__item:hover
    > .responsive-menu__list,
  .responsive-menu__item:focus
    > .responsive-menu__list,
  .responsive-menu__item:active
    > .responsive-menu__list,
  .responsive-menu__item.is-expanded
    > .responsive-menu__list {
      top: 100%;
      right: 0;
      left: 0;
      width: 100%;
  }

  .responsive-menu__item:hover
    .responsive-menu__item:hover
      .responsive-menu__list,
  .responsive-menu__item:focus
    .responsive-menu__item:focus
      .responsive-menu__list,
  .responsive-menu__item:active
    .responsive-menu__item:active
      .responsive-menu__list,
  .responsive-menu__item.is-expanded
    .responsive-menu__item.is-expanded
      .responsive-menu__list {
        left: 100%;
        top: 0;
  }

  .responsive-menu__item:last-of-type
    .responsive-menu__item:hover
      .responsive-menu__list {
        right: 100%;
        left: inherit;
  }
}
